<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    body {
        font-family: "Noto Sans", sans-serif;
        background-color: #fef;
        color: #444;
    }
    
    code {
        padding: 2px 5px;
        background-color: #f2e2f2;
    }
    
    
    @media (prefers-color-scheme: dark) {
        body {
            background-color: #323;
            color: #ddd;
        }
        code {
            background-color: #545;
        }
        
        pre code {
            color: #dcd;
        }
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
</style>

{{ if .Param "math" }}
{{ partialCached "math.html" . }}
{{ end }}
